*

!chia_rep/
!misc/
!example/
!test/

!test/test_files/
!test/test_files/*
!test/*.txt

!example/*.txt
!example/hg38.chrom.sizes

!.gitignore
!.travis.yml
!*.pdf
!LICENSE
!MANIFEST.in
!README.md
!requirements.txt
!*.py
!*.pyx
!*.c
!*.conf

